* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
div {
  border: 3px solid orange;
  width: 200px;
  margin: 10px;
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 12px;
}
h3  {
  padding: 2px;
}